<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=16943300.
  0000
  .000000000000000000000000000000
  ..00.
       
  -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0"/>
  </startup>
  <!--<system.webServer>
    <serverRuntime/>  
  
  </system.webServer>-->
  <!--<appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>-->
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
  </appSettings>
  <!--<system.applicationHost><applicationPools maxConcurrentRequestsPerCPU="5000" maxConcurrentThreadsPerCPU="0" requestQueueLimit="5000"/></system.applicationHost>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="1048576"/>
    <!--<applicationPool   
    maxConcurrentRequestsPerCPU="5000"   
    maxConcurrentThreadsPerCPU="0"   
    requestQueueLimit="5000" />-->
    <!--<httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
   
   </httpHandlers>-->
    <!--<pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>-->
    <!--<applicationPool
         maxConcurrentRequestsPerCPU="5000"
         maxConcurrentThreadsPerCPU="0"
         requestQueueLimit="5000" />-->
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!-- <add assembly="Oracle.DataAccess, Version=4.122.1.0,Culture=neutral, PublicKeyToken=89B483F429C47342"/>
        <add assembly="Oracle.Web, Version=4.122.1.0,Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
        <add assembly="Oracle.ManagedDataAccess, Version=4.122.1.0,Culture=neutral, PublicKeyToken=89B483F429C47342"/>
		  <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <sessionState mode="InProc" stateNetworkTimeout="10" sqlCommandTimeout="30" cookieName="ASP.NET_SessionId" timeout="300" regenerateExpiredSessionId="false">
      <providers>
        <clear/>
      </providers>
    </sessionState>
    <customErrors mode="RemoteOnly" defaultRedirect="~/AddPage.aspx">
      <error statusCode="404" redirect="~/AddPage.aspx"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="LogIn.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>-->
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <caching enabled="false" enableKernelCache="false"/>
  </system.webServer>
  <connectionStrings>
    <add name="dbconnection" connectionString="server=10.200.1.96; database=BCCB_CBR_DB; uid=bccbreport; password=bccb#123;"/>
    <add name="dbconnection2" connectionString="server=10.200.1.100; database=BCCBPROD; uid=bccb; password=bccb@123;"/>
    <add name="dbconnection3" connectionString="server=10.200.1.100; database=BCCBPROD; uid=bccb; password=bccb@123;"/>
    <add name="dbconnection4" connectionString="server=10.200.1.96; database=BCCBREPORT; uid=bccbreport; password=bccb#123;"/>
  </connectionStrings>
</configuration>